node_modules/         # Dependencias instaladas con npm/yarn
dist/                 # Archivos generados en procesos de construcción
build/                # Otra posible carpeta de compilación
.cache/               # Archivos de caché generados por herramientas
coverage/             # Reportes de cobertura de pruebas
.env                  # Variables de entorno
*.env.local           # Variaciones locales de entorno
npm-debug.log         # Logs de npm en caso de errores
yarn-error.log        # Logs de errores de Yarn
package-lock.json     # Dependencias bloqueadas (según preferencias de equipo)