<!DOCTYPE html>
<html>
<head>
  <title>Patagonia Hostel Manager</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/registrations/registration-5/assets/css/registration-5.css">
</head>
<body>
  {{> header}}
  {{{body}}} <!-- Aquí se inserta el contenido de cada vista -->
  {{!-- {{> footer}} --}}
</body>
</html>