<!DOCTYPE html>
<html>
<head>
  <title>Patagonia Hostel Manager</title>
</head>
<body>
  {{> header}}
  {{{body}}} <!-- Aquí se inserta el contenido de cada vista -->
  {{!-- {{> footer}} --}}
</body>
</html>